@import url('https://fonts.googleapis.com/css2?family=Arbutus+Slab&family=DM+Sans:wght@500&display=swap');


body{
    font-family: 'DM Sans', sans-serif;
    font-size: 13px;
    background-color: #ccc;
    background-image: url("../img/paper.jpg");
    background-blend-mode: screen;
    scrollbar-base-color: aqua;
    padding-left: 50px;
    padding-right: 50px;
    align-content: center;
}

#head{
    font-size: 20px;
    text-align: center;
    color: black;
    font-weight: bolder;
}

#dishHeader{
    font-size: 15px;
    font-weight: bold;
    padding-left: 20px;
    border-radius: 5px;
    margin-bottom: 3px;
}
#dayHeader{
    font-size: 15px;
    font-weight: bold;
    display: inline;
    padding-left: 20px;
    border-radius: 5px;
    margin-bottom: 3px;
}

#add-to-menu{
    background: pink;
    border-radius: 10px;
    margin-bottom: 10px;
    padding-bottom: 10px;
}

#new-dish{
    padding-left: 20px;
    border-radius: 5px;
    margin-bottom: 3px;
    margin-left: 10px;
}
#new-day{
    padding-left: 20px;
    border-radius: 5px;
    border-style: solid;
    margin-left: 10px;
}

#add-button{
    margin-top: 10px;
    border-radius: 5px;
    box-shadow: 3px 3px #f3ebf5;
    color: purple;
    background-color: lavenderblush;
    margin-left: 30px;
}

#selection{
    margin-left: 35px;
}

#remove-button{
    border-radius: 5px;
    margin-right: 5px;
    box-shadow: 3px 3px #f3ebf5;
    color: purple;
    background-color: lavenderblush;
}

#missing-button{
    border-radius: 5px;
    margin-right: 5px;
    box-shadow: 3px 3px #f3ebf5;
    color: purple;
    background-color: lavenderblush;
}

#change-button{
    border-radius: 5px;
    margin-right: 5px;
    box-shadow: 3px 3px #f3ebf5;
    color: purple;
    background-color: lavenderblush;
}

.button{
    display: flex;
}

#mark{
    margin-left: 5px;
    margin-bottom: 5px;
    border-radius: 5px;
    box-shadow: 3px 3px #cccccc;
}

.line{
    color: purple;
    background-color: purple;
    border-radius: 2px;
    height: 1px;
    width: 95%;
}

#comment-section{
    background-color: lavender;
    border-radius: 10px;
    margin-bottom: 10px;
    padding-bottom: 10px;
}

#rating-button{
    border-radius: 5px;
    margin-right: 5px;
    box-shadow: 3px 3px #f3ebf5;
    color: purple;
    background-color: lavenderblush;
}

.rate{
    margin-top: 10px;
}

#rating{
    margin-top: 20px;
}
#new-rating{
    padding-left: 20px;
    border-radius: 5px;
    margin-bottom: 3px;
    width: 70%;
}
#review{
    padding-left: 20px;
    border-radius: 5px;
    margin-bottom: 3px;
}
#feedbackButton{
    border-radius: 5px;
    margin-right: 5px;
    box-shadow: 3px 3px #f3ebf5;
    color: purple;
    background-color: lavenderblush;
}

@media screen and (min-width: 786px) and (max-width: 1024px) {

    #new-rating {
        padding-left: 20px;
        border-radius: 5px;
        margin-bottom: 3px;
        width: 50%;
    }

    #add-button{
        display: inline;
    }
}


    /*
    desktop
    */
    @media screen and (min-width: 1025px) {
        body {
            padding-left: 200px;
            padding-right: 200px;
        }

        #add-button{
            display: inline;
        }
    }

