<!DOCTYPE html>
<html lang="en" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Din meny</title>
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.1/css/bulma.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

<h1 id="head">Dish Manager</h1>

<div id="add-to-menu">
    <form v-on:submit.prevent="addDish">
        <label id="dishHeader" for="new-dish">Add a new dish to your menu</label>
        <input
            v-model="newDishText"
            id="new-dish"
            placeholder="Write here">

        <select
                v-model="selectedDay"
                id="new-day">
            <option disabled value="">Please select day</option>
            <option>Monday</option>
            <option>Tuesday</option>
            <option>Wednesday</option>
            <option>Thursday</option>
            <option>Friday</option>
        </select>

        <!--<label for="new-day">Choose weekday</label>
        <input
                v-model="newDayText"
                id="new-day"
                placeholder="Write here">-->

        <button id="add-button">Add your dish</button>
        <p></p>
        <span id="selection">Selected: {{newDishText}} - {{ selectedDay }}</span>
        <hr class="line">
        <hr class="line">

    </form>
    <ul>
        <li
                is="dish-item"
                v-for="(dish, index) in dishes"
                v-bind:key="dish.id"
                v-bind:title="dish.title/* + ' ' + dish.selected*/"
                v-bind:selected="dish.selected"
                v-bind:style='{"color" : (isActive? "black" : "red" )}'
                v-on:remove="dishes.splice(index, 1)"
                v-on:toggle="isActive= false"
        ></li>
        <button id="change-button" class="button" v-on:click="toggle">change</button>
    </ul>
<!--    <button id="mark" v-on:click="miss(index)">Mark</button>-->
</div>

<script	src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
<script src="js/js-meny.js"></script>
</body>
</html>